<div class="content">
    <h3>Welcome</h3>
    <div class='entry'>
        <i>Marvel QA</i> is a student project organized by the <i>Language Technology</i> group of the <i>Computer Sience Department</i> in <i>TU Darmstadt</i>. The goal of <i>Marvel QA</i> is to develop a web-based application that utilizes the <i>IBM Watson Question answering system</i>. 
    This project was developed by <i>Wei-Hung Hsu</i>, <i>Erich Wittenbeck</i> and <i>Khine Htwe</i>.

    </div>
    
    <h3>Introduction</h3>
    <div class='entry'>     
    <i>Ask Watson</i> uses <i>IBM Watson Question answering system</i> to answer questions regarding the <i>Marvel Cinematic Universe</i>. The data set that was used for the training was extracted from the <a target='_blank' href='http://marvelcinematicuniverse.wikia.com/wiki/Marvel_Cinematic_Universe_Wiki'>Marvel Cinematic Universe Wikia</a>. To enter a question, simply type in a question into the text box and press enter. <i>Add Questions</i> allows users to add their own questions to the <i>Marvel Quiz</i>. The quiz utilizes <i>IBM Watson Question answering system</i> to generate possible answers. The answers are further specified through entity recognition. 
    </div>

</div>